@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --bg: #FFFFFF;
    --bg-alt: #F7F7F7;
    --bg-inverse: #000000;
    --text: #000000;
    --text-muted: #7D8087;
    --border: #000000;
    --accent: #80A5B5;
  }

  .dark {
    --bg: #141413;
    --bg-alt: #333333;
    --bg-inverse: #FFFFFF;
    --text: #FFFFFF;
    --text-muted: #F7F7F7;
    --border: #FFFFFF;
    --accent: #d5eeff;
  }

  h1 {
    @apply text-[30px] font-extrabold text-black dark:text-white;
  }

  h2 {
    @apply text-2xl font-bold text-black dark:text-white;
  }

  h3 {
    @apply text-xl font-semibold text-black dark:text-white;
  }

  .markdown-text a {
    @apply underline;
  }

  p {
    @apply text-base text-black dark:text-white;
  }

  table {
    @apply w-full border-collapse;
  }

  th, td {
    @apply border px-4 py-2 text-left;
  }

  ul {
    @apply list-disc pl-5;
  }

  ol {
    @apply list-decimal pl-5;
  }

  code {
    @apply font-mono bg-zinc-200 px-1 rounded dark:text-black;
  }

  pre {
    @apply bg-zinc-200 p-4 rounded overflow-x-auto dark:text-black;
  }

  blockquote {
    @apply border-l-4 border-zinc-400 pl-4 italic text-zinc-600 dark:text-black;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black dark:text-white;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black dark:text-white;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black dark:text-white;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black dark:text-white;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black dark:text-white;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black dark:text-white;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }

  .hero_container {
    @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }

  .tag {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri text-black dark:text-black;
  }

  .heading {
    @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words dark:text-white-100;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid article {
    display: grid;
  }

  .card_grid article a {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal dark:text-white-100;
  }

  /* profile */
  .profile_container {
    @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-primary border-[5px] border-black shadow-100 rounded-[30px] relative lg:sticky lg:top-12 z-0 h-fit max-lg:w-full dark:border-white dark:shadow-none;
  }

  .profile_title {
    @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-100 dark:bg-black dark:border-white dark:after:bg-white dark:before:bg-white;
  }

  .profile_image {
    @apply rounded-full object-cover border-[3px] border-black;
  }

  /* idea details */
  .divider {
    @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto dark:bg-zinc-700;
  }

  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  /* navbar */
  .avatar {
    @apply p-0 focus-visible:ring-0 bg-none rounded-full drop-shadow-md !important;
  }

  .dropdown-menu {
    @apply w-56 border-[5px] border-black bg-white p-5 rounded-2xl !important;
  }

  .login {
    @apply border-[5px] py-4 border-black bg-white text-black relative shadow-100 font-work-sans font-medium hover:shadow-none transition-all duration-500 !important;
  }

  /* searchform */
  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5 dark:bg-black-100 dark:border-white;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none dark:text-white dark:placeholder:text-white-100;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center dark:bg-white dark:text-black !important;
  }

  /* startupcard */
  .startup-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 dark:bg-black-100 dark:border-white list-none;
  }

  .startup-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
  }

  .startup-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all dark:text-white-100;
  }

  .startup-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .startup-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3 dark:bg-white dark:text-black !important;
  }

  .startup-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  /* startupform */
  .startup-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6 dark:bg-black;
  }

  .startup-form_label {
    @apply font-bold text-[18px] text-black uppercase dark:text-white;
  }

  .startup-form_input {
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 placeholder:text-black-300 dark:border-white dark:text-white dark:placeholder:text-white-100 !important;
  }

  .startup-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-black-300 dark:border-white dark:text-white dark:placeholder:text-white-100 !important;
  }

  .startup-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .startup-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300 dark:border-white dark:text-white dark:placeholder:text-white-100 !important;
  }

  .startup-form_btn {
    @apply bg-primary border-[4px] border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[18px] dark:border-white !important;
  }

  /* view */
  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 left-3;
  }

  .view-text {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize dark:bg-black-100 dark:text-white;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full text-black dark:text-black;
  }

  .pattern {
    background-image: repeating-linear-gradient(
      90deg,
      rgba(251, 232, 67, 0.3) 0 1px,
      transparent 1px 41px
    );
    background-size: 41px 100%;
    background-position: 0 0;
    background-repeat: repeat-x;
  }

  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}

.w-md-editor-toolbar {
  padding: 10px !important;
}

#sentry-feedback {
  --right: auto;
  --left: 0;
}

.startup_card_date {
  @apply dark:text-white;
}

.no-results {
  @apply dark:text-white;
}